#sidebar {
	position:absolute;
	width:300px;
	float:left;
	border-right:1px solid #EEE;
	/*height:100%;*/
	/*min-height:500px;*/
	padding-left:20px;
	padding-top:20px;
	bottom: 0;
	right: 0;
	left: 0;
	top:65px;
	overflow-y: scroll;
}
#graph-wrapper {
	margin-left: 320px;
	float:left;
	/*width:100%;*/
	padding:20px;
	position:absolute;
	right:0px;
	left:0px;
	bottom:0px;
	top:65px;
}
.accordion-group {
	padding:10px;
	border:0px;
	border-left:3px solid #E6E6E6;
	border-top:1px solid #DDD;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
}
.minor {
	margin-bottom:0px;
	margin-top:10px;
}
table.minor {
	border-top:1px solid #DDD;
	border-left:3px solid #E6E6E6;
	width:100%;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
}
