{% extends "base.html" %}

{% block content %}
<div id="content-wrapper">
	<div id="sidebar">
    <p>hi there</p>
		<hr>
     	<footer>
        	<p>&copy; Company 2012</p>
      	</footer>
	</div>
	<div id="graph-wrapper">
		<div id="chart_div" style="height:100%;">hi</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var app = {};
google.load('visualization', '1', {'packages':['motionchart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
  $.get('/api/example/', function(data){
    console.log(data)
    app.datatable = new google.visualization.DataTable(data, 1);
    console.log(app.datatable);
    var options = {'title':'example'};
    app.chart = new google.visualization.MotionChart(document.getElementById('chart_div'));
    app.chart.draw(app.datatable, {height:$('#chart_div').height(), width:$('#chart_div').width()});
  });
  
}

function redrawChart() {
  app.chart.draw(app.datatable, {height:$('#chart_div').height(), width:$('#chart_div').width()});
}

window.onresize = redrawChart;
</script>
{% endblock scripts %}