{% extends "base.html" %}

{% block content %}
<div id="content-wrapper">
	<div id="sidebar">
    <h3>Data Fields</h3>
    <div class="accordion" id="statements_accordion">
      {% for statement in statements %}
        <div class="accordion-group" id="{{statement.slug}}_group">
          <div class="according-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#statements_accordion" href="#{{statement.slug}}_body">
              {{statement.name}}
            </a>
          </div>
          <div class="accordion-body collapse" id="{{statement.slug}}_body">
            <table class="table-striped table-condensed">
              <tbody>
                {% for field in statement.fields %}
                  <tr>
                    <td>{{ field }}</td>
                    <td>
                      <a class="chartChanger" href="#" id="xAxis_{{loop.index + statement.offset}}">  X
                      </a>
                    </td>
                    <td>
                      <a href="#" class="chartChanger" id="yAxis_{{loop.index + statement.offset}}">
                      Y
                      </a>
                    </td>
                    <td>
                      <a href="#" class="chartChanger" id="size_{{loop.index + statement.offset}}">
                        Size
                      </a>
                    </td>
                    <td>
                      <a href="#" class="chartChanger" id="color_{{loop.index + statement.offset}}">
                        Color
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
		<hr>
    <h3><a href="#" id="xAxis_4" class="chartChanger">Companies</a></h3>
    <hr>
   	<footer>
      <p>&copy; Zach, Josh, Pulak, and Alex 2012</p>
    </footer>
	</div>
	<div id="graph-wrapper">
		<div id="chart_div" style="height:100%;">
      <center><h1><small>Loading...</small></h1></small>
    </div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var app = {};
google.load('visualization', '1', {'packages':['motionchart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
  $.get('/api/example/', function(data){
    console.log(data)
    app.datatable = new google.visualization.DataTable(data, 1);
    console.log(app.datatable);
    app.options = {'title':'example'};
    app.chart = new google.visualization.MotionChart(document.getElementById('chart_div'));
    app.chart.draw(app.datatable, {height:$('#chart_div').height(), width:$('#chart_div').width()});
  });
  
}

$(function(){
  $('.chartChanger').click(function(){
    var index = $(this).attr('id').split('_')[1];
    var axis = $(this).attr('id').split('_')[0];
    var state = app.chart.getState();
    state = $.parseJSON(state);
    state[axis+'Option'] = index.toString();
    // console.log(state)
    state = JSON.stringify(state);
    // console.log(state);
    app.chart.draw(app.datatable, {
      height:$('#chart_div').height(), 
      width:$('#chart_div').width(),
      state:state,
    });
  })
});


function redrawChart() {
  app.chart.draw(app.datatable, {height:$('#chart_div').height(), width:$('#chart_div').width()});
}

window.onresize = redrawChart;
</script>
{% endblock scripts %}