{% extends "base.html" %}

{% block content %}
<div id="content-wrapper">
	<div id="sidebar">
    <h3>Data Fields</h3>
    <div class="accordion" id="statements_accordion">
      {% for statement in statements %}
        <div class="accordion-group" id="{{statement.slug}}_group">
          <div class="according-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#statements_accordion" href="#{{statement.slug}}_body">
              {{statement.name}}
            </a>
          </div>
          <div class="accordion-body collapse" id="{{statement.slug}}_body">
            <table class="table-striped table-condensed">
              <tbody>
                {% for field in statement.fields %}
                  <tr>
                    <td>{{ field.2 }}</td>
                    <td>
                      <a class="chartChanger" href="#" id="X_{{field.0}}">  X
                      </a>
                    </td>
                    <td>
                      <a href="#" class="chartChanger" id="Y_{{field.0}}">
                      Y
                      </a>
                    </td>
                    <td>
                      <a href="#" class="chartChanger" id="Size_{{field.0}}">
                        Size
                      </a>
                    </td>
                    <td>
                      <a href="#" class="chartChanger" id="Color_{{field.0}}">
                        Color
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
		<hr>
    <h3>Companies</h3>
    <div class="accordion" id="divisions_accordion">
      {% for division in divisions %}
        <div class="accordion-group" id="{{division.id}}_group">
          <div class="according-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#divisions_accordion" href="#{{division.id}}_body">
              {{division.name}}
            </a>
              
          </div>
          <div class="accordion-body collapse" id="{{division.id}}_body">
            <h6>Display:
              <a href="#" class="changeData" title="Show Companies" id="companies_{{division.id}}">
                 Companies</a> |
              <a href="#" class="changeData" title="Show Major Groups" id="children_{{division.id}}">
                Major Groups</a>
            </h6>
            <div class="accordion minor" id="{{division.id}}_accordion">
              {% for major_group in division.major_groups %}
                <div class="accordion-group" id="{{major_group.id}}_group">
                  <div class="according-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{division.id}}_accordion" href="#{{major_group.id}}_body">
                      {{major_group.name}}
                    </a>
                    
                  </div>
                  <div class="accordion-body collapse" id="{{major_group.id}}_body">
                    <h6>Display: 
                      <a href="#" class="changeData" title="Show Companies" id="companies_{{major_group.id}}">
                         Companies</a>  |
                      <a href="#" class="changeData" title="Show Industry Groups" id="children_{{major_group.id}}">
                        Industry Groups
                      </a>
                    </h6>
                    <div class="accordion minor" id="{{major_group.id}}_accordion">
                      {% for industry_group in major_group.industry_groups %}
                        <div class="accordion-group" id="{{industry_group.id}}_group">
                          <div class="according-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{industry_group.id}}_accordion" href="#{{industry_group.id}}_body">
                              {{industry_group.name}}
                            </a>
                          </div>
                          <div class="accordion-body collapse" id="{{industry_group.id}}_body">
                            <h6>Display: 
                              <a href="#" class="changeData" title="Show Companies" id="companies_{{industry_group.id}}">
                                Companies</a>  |
                              <a href="#" class="changeData" title="Show Industries" id="children_{{industry_group.id}}">
                                Industries
                              </a>
                            </h6>
                            <table class="table-striped table-condensed minor">
                              <tbody>
                                {% for industry in industry_group.industries %}
                                  <tr>
                                    <td>
                                      <a href="#" class="changeData" id="companies_{{industry.id}}">{{industry.name}}</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <hr>
   	<footer>
      <p>&copy; Zach, Josh, Pulak, and Alex 2012</p>
    </footer>
	</div>
	<div id="graph-wrapper">
		<div id="chart_div" style="height:100%;">
      <center><h1><small>Loading...</small></h1></small>
    </div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var app = {};
google.load('visualization', '1', {'packages':['motionchart']});
google.setOnLoadCallback(drawChart);
function drawChart() {
  app.X = 'Revenues';
  app.Y = 'COGS';
  app.Color = 'NetIncome';
  app.Size = 'Assets';
  app.sic = '7370';
  app.type = 'companies';
  app.params = ['api', app.type, app.sic, app.X, app.Y, app.Color, app.Size];
  var url = app.params.join('/');
  console.log(url)
  $.get(url, function(data){
    console.log(data)
    app.datatable = new google.visualization.DataTable(data, 1);
    console.log(app.datatable);
    app.options = {
      height:$('#chart_div').height(), 
      width:$('#chart_div').width(),
      // showXMetricPicker:false,
      // showYMetricPicker:false,
    };
    app.chart = new google.visualization.MotionChart(document.getElementById('chart_div'));
    app.chart.draw(app.datatable, app.options);
  });
  
}

$(function(){
  $('.chartChanger').click(function(){
    var field = $(this).attr('id').split('_')[1];
    var axis = $(this).attr('id').split('_')[0];
    app[axis] = field;
    newChart();
  })

  $('.ttip').tooltip();

  $('a.changeData').click(function(){
    app.sic = $(this).attr('id').split('_')[1]; // sic code, ie 2343
    app.type = $(this).attr('id').split('_')[0]; // companies or children
    newChart();
  });
});

function newChart () {
  $('#chart_div').html('<center><img src="/static/img/ajax-loader.gif"></center>');
  var url = '/api/'+app.type+'/'+app.sic+'/'+app.X+'/'+app.Y+'/'+app.Color+'/'+app.Size+'/';
  $.get(url, function(data){
    console.log(data);
    data = $.parseJSON(data);
    console.log(data);
    delete app.datatable;
    app.datatable = new google.visualization.DataTable(data, 1);
    app.chart = new google.visualization.MotionChart(document.getElementById('chart_div'));
    console.log(app.datatable);
    redrawChart();
  });
};

function redrawChart() {
  app.options = app.options || {};
  app.options.height = $('#chart_div').height();
  app.options.width = $('#chart_div').width();
  app.chart.draw(app.datatable, app.options);
}

window.onresize = redrawChart;
</script>
{% endblock scripts %}